
/* ===================> Fonts <================== */

/* ====> Content <==== */

body, 
li p,
.cmsms_sitemap > li ul > li ul li > a {
	font:18px/26px Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:normal;
	font-style:normal;
}


/* ====> Links <==== */

a {
	font:px/px Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:normal;
	font-style:normal;
}

/* ====> Navigation <==== */

#navigation > li > a {
	font:18px/20px 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:400;
	font-style:normal;
}

#navigation ul li a {
	font:13px/20px 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:300;
	font-style:normal;
}


/* ====> Headings <==== */

h1,
h1 a,
.logo .title {
	font:36px/42px 'Open Sans', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:normal;
	font-style:normal;
}

h2,
h2 a, 
.cmsms_sitemap > li > a,
.colored_button, 
.product .entry-summary .product_title {
	font:32px/50px 'Open Sans', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:normal;
	font-style:normal;
}

h3,
h3 a,
.cmsms_sitemap > li > a {
	font:28px/32px 'Open Sans', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:normal;
	font-style:normal;
}

h4,
h4 a, 
.col2-set .col-1 h3, 
.col2-set .col-2 h3, 
h3#order_review_heading, 
.woocommerce-checkout h2 {
	font:24px/34px 'Open Sans', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:400;
	font-style:normal;
}

h5,
h5 a,
.cmsms_our_team_wrap .person_title,
.cmsms_our_team_wrap .person_title a, 
.product .product_inner .cmsms_prod_footer .price, 
.product .entry-summary .price, 
.product .woocommerce-tabs h2, 
.cart-collaterals .cart_totals h2,
.cart-collaterals .shipping_calculator h2, 
.cart-collaterals .shipping_calculator h2 a {
	font:22px/38px 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:300;
	font-style:normal;
}

.service_rollover .entry-header h5, 
.service_rollover .entry-header h5 a {font-size:17px;}

h6,
h6 a,
.tog,
.tabs li a,
.tour li a,
.cmsms_sitemap > li ul > li > a, 
.format-quote .cmsms_author,
.percent_item_text,
.table thead th,
.table tfoot th,
.cmsms_pricing_table .cmsms_price_outer span,
.testimonial a.tl_author, 
.opened-article .testimonial a.tl_author, 
.cmsms_our_team_wrap .person_subtitle, 
.product .product_inner .cmsms_prod_title, 
.product .product_inner .cmsms_prod_title a, 
.widget_shopping_cart_content .cart_list li a, 
.shop_table.cart thead th, 
.widget .product_list_widget li > a {
	font:15px/18px 'Roboto', Arial, Geneva, Helvetica, sans-serif;
	font-weight:300;
	font-style:normal;
}

.cmsms_pricing_table .period, 
.widget_shopping_cart_content .cart_list li a, 
.widget .product_list_widget li > a {
	font-size:13px;
}

.tog,
.widget_custom_popular_services_entries .service_title,
.widget_custom_popular_services_entries .service_title a, 
.widget_custom_latest_services_entries .service_title,
.widget_custom_latest_services_entries .service_title a, 
.product .product_inner .cmsms_prod_title, 
.product .product_inner .cmsms_prod_title a, 
.product .entry-summary .price del, 
.cmsms_product_comment_wrap .cmsms_product_comment_author {
	font-size:16px;
} 

.pricing_button,
.button,
.button_small, 
.button_medium,
.button_large,
.button_small.cmsms_share,
.entry .project_navi a, 
#cancel-comment-reply-link,
#wp-calendar, 
#submit,
input[type="submit"],
.cmsms_info .cmsms_page_day, 
.cmsms_info .cmsms_post_day, 
.cmsms_info .cmsms_page_year, 
.cmsms_info .cmsms_page_month, 
.cmsms_info .cmsms_post_year, 
.cmsms_info .cmsms_post_month, 
.product .onsale,
.product .product_inner .out-of-stock, 
.widget_shopping_cart_content .cart_list li .quantity, 
.widget_shopping_cart_content .total strong, 
.widget_shopping_cart_content .total .amount, 
.product_list_widget .amount, 
.shop_table .remove, 
.shop_table.cart .product-name, 
.shop_table.cart .product-name a {
	font-family:'Roboto', Arial, Geneva, Helvetica, sans-serif;
}


/* ====> Other <==== */

q, 
blockquote {
	font:15px/25px 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:300;
	font-style:normal;
}

q:before, 
blockquote:before {
	font-family:Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	
	font-size:70px;
	line-height:1em;
}

span.dropcap,
span.dropcap2 {
	font:30px/60px 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:300;
	font-style:normal;
}

span.dropcap2 {
	font-size:40px;
	line-height:40px;
	height:40px;
}

code {
	font:13px/18px Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:normal;
	font-style:normal;
}

small,
small a, 
.cmsms_post_info, 
.cmsms_post_info *,
.cmsms_tags, 
.cmsms_tags *, 
.cmsms_product_comment_wrap time {
	font:12px/18px Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:normal;
	font-style:normal;
}
	
input,
textarea,
select,
.select2-container .select2-choice,
option {
	font:13px/18px Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-weight:normal;
	font-style:normal;
}


/* ===================> Colors <================== */

/* ====> Content <==== */

body, 
ul.s_filter_list li a, 
.product_list_widget li del .amount {
	color:#404040;
}

#bottom,
.bottom_inner .widget_custom_twitter_entries .tweet_time a:before,
.bottom_inner #wp-calendar caption,
.bottom_inner #wp-calendar tbody td,
.bottom_inner .widget .tl_company, 
.bottom_inner .product_list_widget li del .amount {
	color:#fefefe;
}

#bottom h1, 
#bottom h2, 
#bottom h3, 
#bottom h4, 
#bottom h5, 
#bottom h6, 
.bottom_inner .widget .product_list_widget li > a, 
.bottom_inner .widget_shopping_cart_content .cart_list li a, 
.bottom_inner .widget_shopping_cart_content .total strong {
	color:#ffffff;
}

#footer {
	color:#ffffff;
}


/* ====> Links <==== */

a, 
.product .product_inner .cmsms_prod_title a:hover, 
.product .product_inner .cmsms_prod_cat a:hover, 
.shop_table .product-name a:hover, 
.widget_shopping_cart_content .cart_list li a:hover, 
.widget .product_list_widget li > a:hover {
	color:#ca2f86;
}

a:hover,
.tab.lpr .tab_content .ovh a:hover, 
.service_sidebar .cmsmsLike.active,
.header_html > span[class*="contact"],
.post_type_shortcode.type_post .entry-title a:hover,
.product-categories .cat-item.current-cat a {
	color:#fe3ca9;
}

#bottom a {
	color:#ffffff;
}

#bottom a:hover,
.tabs li a:hover,
.color_3,
.related_posts ul > li > a:hover,
.cmsms_pricing_table .currency, 
.cmsms_pricing_table .price, 
.cmsms_pricing_table .coins,
#wp-calendar #today,
q:before, blockquote:before,
.widget_custom_services_entries_slides .service_title a,
.error_page h1,.widget_custom_twitter_entries .tweet_time a:before,
.contact_widget_info > span:before,
.widget_custom_contact_info_entries > span[class*="contact"]:before {
	color:#7b7a7a;
}

#footer a {
	color:#767676;
}

#footer a:hover {
	color:#ffffff;
}

/* ====> Navigation <==== */

#navigation li > a,
#header .header_html > span[class*="contact"],
#header .header_html > span[class*="contact"] a {
	color:#7b7b7b;
}

#navigation > li.current_page_item > a > span,
#navigation li.current_page_ancestor > a,
#navigation li.current-menu-ancestor > a,
#navigation li:hover > a:hover,
#navigation li:hover > a {
	color:#7b7b7b;
}

#navigation ul li > a {
	color:#707070;
}

#navigation li li.current_page_item > a,
#navigation li li.current_page_ancestor > a,
#navigation li li.current-menu-ancestor > a,
#navigation li li:hover > a:hover,
#navigation ul li:hover > a,
.post_type_shortcode.type_post .entry-title a,
.cmsms_our_team_wrap .person_title a:hover,
.cmsms_our_team_wrap .person_subtitle,
.tab.lpr .tab_content .ovh a,
.testimonial .tl_company,
.widget .tl_company,
.title_1, 
.product .product_inner .cmsms_prod_footer .price, 
.cmsms_dynamic_cart_button:before, 
.widget_shopping_cart_content .cart_list li .quantity .amount, 
.widget_shopping_cart_content .total .amount, 
.product_list_widget .amount, 
.product .entry-summary .price, 
.shop_table .product-subtotal, 
.shop_table .product-subtotal *, 
.cart_totals table .cart-subtotal td, 
.cart_totals table .order-total td, 
#order_review .shop_table .order-total th, 
#order_review .shop_table .order-total td, 
#order_review .shop_table .order-total td *, 
.order_details.shop_table tfoot tr:last-child th, 
.order_details.shop_table tfoot tr:last-child td {
	color:#7b7a7a;
}


/* ====> Headings <==== */

h1,
h1 a, 
.logo {
	color:#3b3b3b;
}

h2,
h2 a, 
.cart-collaterals .shipping_calculator h2, 
.cart-collaterals .shipping_calculator h2 a {
	color:#3b3b3b;
}

h3, 
h3 a {
	color:#000000;
}

h4,
h4 a {
	color:#000000;
}

h5, 
h5 a, 
ul.s_filter_list li a:hover, 
ul.s_filter_list li.current a,
.pricing_button,
.button,
.button_small, 
.button_medium,
.button_large, 
#cancel-comment-reply-link,
#submit,
input[type="submit"],
.cmsms_features_item_title, 
.cmsms_details_item_title, 
.cmsms_info .cmsms_page_day, 
.cmsms_info .cmsms_post_day, 
.cmsms_info .cmsms_page_year, 
.cmsms_info .cmsms_page_month, 
.cmsms_info .cmsms_post_year, 
.cmsms_info .cmsms_post_month, 
.format-quote .cmsms_author,
.testimonial a.tl_author,
.opened-article .testimonial a.tl_author, 
.product .product_inner .cmsms_prod_title, 
.product .product_inner .cmsms_prod_title a, 
.product .woocommerce-tabs table.shop_attributes th, 
.shop_table.cart thead th, 
.shop_table .remove, 
.shop_table .product-name, 
.shop_table .product-name a, 
.cart .quantity, 
.cart .quantity *, 
.cart_totals table .cart-subtotal th, 
.cart_totals table .order-total th, 
#order_review .shop_table, 
.order_details.shop_table, 
.order_details li > span, 
.widget .product_list_widget li > a, 
.widget_shopping_cart_content .cart_list li a, 
.widget_shopping_cart_content .total strong  {
	color:#7b7a7a;
}

h6,
h6 a {
	color:#7a7a7a;
}


/* ====> Other <==== */

q, 
blockquote {
	color:#7a7a7a;
}

span.dropcap {
	color:#ffffff;
}

span.dropcap2,
.tog,
.tog:hover,
.tabs li a,
.bottom_inner .tabs li.current a span, 
.tour li a span,
.related_posts ul li a,
.percent_item_text,
.cmsms_sitemap > li > a,
#wp-calendar caption,
#wp-calendar tbody tr td {
	color:#3b3b3b;
}

code {
	color:#8a8a8a;
}

small {
	color:#8a8a8a;
}

input,
textarea,
select,
.select2-container .select2-choice,
select option {
	color:#8a8a8a;
}

.color_1,
#header .search_line form p:before,
.header_html > span[class*="contact"]:before, 
label .required {
	color:#fe3ca9;
}

.color_2, 
.cmsms_info .cmsms_like .cmsmsLike:hover:before,
.cmsms_info .cmsms_like .cmsmsLike.active:before,
.cmsms_info .cmsms_like .cmsmsLike.active span,
.cmsms_info .cmsms_like .cmsmsLike.active:hover span, 
.shop_table .remove:hover {
	color:#ca2f86;
}


.project_navi a[rel="prev"]:hover,
.project_navi a[rel="next"]:hover {
	color:#ffffff;
}

input#submit:hover,
.button:hover,
.button_small:hover,
.button_medium:hover,
.button_large:hover,
.button.current,
.button_small.current,
.button_medium.current, 
.button_large.current,
.tabs li.current a,
.reviews_tab.active > a,
.reviews_tab.active > a:hover,
.tour  > li.current a > span, 
.tour  > li a:hover > span,
.related_posts ul > li .current,
.related_posts ul > li .current:hover,
.s_cat_filter.button_small:hover,
.s_sort a.button_small:hover, 
.s_cat_filter.button_small.current, 
.s_sort a.button_small.current, 
.cmsms_pricing_table .pricing_footer .pricing_button:hover, 
.comment-reply-link:hover, 
#cancel-comment-reply-link:hover, 
.s_filter_container:hover .s_cat_filter.button_small,
.percent_item_colored > span,
.cmsms_post_format_img:before,
.cmsms_info .cmsms_like .cmsmsLike:before, 
.cmsms_info .cmsms_like .cmsmsLike:hover span,
.testimonial blockquote:before,
.widget .tl-content:before,
#bottom #wp-calendar #today,
#cmsms_latest_bottom_tweets,
#cmsms_latest_bottom_tweets a,
.format-quote blockquote:before, 
ul li a.page-numbers:hover,
.colored_banner,
.colored_banner h1,
.colored_banner h2, 
.product .onsale,
.product .product_inner .out-of-stock, 
.product .product_inner .cmsms_prod_line, 
.product .product_inner .cmsms_add_to_cart_button, 
.product .product_inner .cmsms_details_button, 
.product .product_inner .added_to_cart, 
.cmsms_dynamic_cart:hover .cmsms_dynamic_cart_button:before, 
.cmsms_dynamic_cart_button:hover:before {
	color:#ffffff;
}

.bottom_inner .button,
.bottom_inner a.button_small,
.bottom_inner a.button_medium,
.bottom_inner a.button_large {
	color:#3b3b3b !important;
}

.bottom_inner .button:hover,
.bottom_inner a.button_small:hover,
.bottom_inner a.button_medium:hover,
.bottom_inner a.button_large:hover {
	color:#ffffff !important;
}

.product .product_inner .cmsms_prod_cat, 
.product .product_inner .cmsms_prod_cat a, 
.product .product_inner .cmsms_prod_footer .price del, 
.product .product_inner .cmsms_prod_footer .price .from, 
.product .entry-summary .price del {
	color:#c5c5c5;
}


/* ===================> Backgrounds and Borders <================== */

.bg_color_1, 
h3:after, 
input#submit:hover, 
.button:hover, 
.button_small:hover, 
.button_medium:hover, 
.button_large:hover, 
.button.current, 
.button_small.current,
.button_medium.current,
.button_large.current,
.responsive_nav span,
.responsive_nav span:before,
.responsive_nav span:after,
.tabs li.current a,
.reviews_tab.active > a,
.cmsms_sitemap > li > a:after, 
.s_cat_filter.button_small:hover, 
.s_sort a.button_small:hover,
.s_cat_filter.button_small.current,
.s_sort a.button_small.current, 
.cmsms_pricing_table .pricing_footer .pricing_button:hover, 
.comment-reply-link:hover, 
#cancel-comment-reply-link:hover, 
.s_filter_container:hover .s_cat_filter.button_small,
.tog:hover .cmsms_plus span,
.tog.current .cmsms_plus,
.cmsms_post_format_img, 
.format-quote blockquote:before, 
ul li a.page-numbers:hover,
#cmsms_latest_bottom_tweets,
.wrap_person .cmsms_link:hover,
.wrap_person .cmsms_link:before,
.wrap_person .cmsms_link > span:before,
.wrap_person .cmsms_link > span:after,
.testimonial blockquote:after,
.widget .tl-content:after,
.cmsms_latest_bottom_tweets_inner .cmsms_content_prev_slide,
.cmsms_latest_bottom_tweets_inner .cmsms_content_next_slide,
.cmsms_content_prev_slide:active,
.cmsms_content_next_slide:active,
.cmsms_content_slider_parent ul.cmsms_slides_nav li.active a,
.tp-bullets.simplebullets.round .bullet:hover,
.tp-bullets.simplebullets.round .bullet.selected, 
.product .product_inner .cmsms_prod_line, 
.star-rating span, 
#review_form_wrapper #commentform .stars span a:hover, 
#review_form_wrapper #commentform .stars span a:focus, 
#review_form_wrapper #commentform .stars span a.active {
	background-color:#fe3ca9;
}

.ls-medicure .ls-nav-stop:hover:before,
.ls-medicure .ls-nav-stop:hover:after,
.ls-medicure .ls-nav-stop-active:before,
.ls-medicure .ls-nav-stop-active:after,
.ls-medicure .ls-bottom-slidebuttons a:hover,
.ls-medicure .ls-bottom-slidebuttons a.ls-nav-active {
	background-color:#fe3ca9 !important;
}


.bg_color_2, 
.product .onsale, 
.cmsms_info .cmsms_like .cmsmsLike,
.cmsms_info .cmsms_like .cmsmsLike:hover, 
.widget_shopping_cart_content .buttons .button.checkout:hover, 
.shop_table .actions .checkout-button:hover {
	background-color:#ca2f86;
}

.product .product_inner .out-of-stock {
	background-color:#313131;
}

.comment-reply-link,
.pricing_button,
.button,
.button_small,
.button_medium,
.button_large,
.bottom_inner .tabs li.current a,
.tog.current .cmsms_plus span,
#cancel-comment-reply-link,
#submit,
input[type="submit"], 
.services_inner .service_rollover,
.wrap_person .cmsms_link:hover:before,
.wrap_person .cmsms_link:hover > span:before,
.wrap_person .cmsms_link:hover > span:after,
.cmsms_latest_bottom_tweets_inner .cmsms_content_prev_slide:hover,
.cmsms_latest_bottom_tweets_inner .cmsms_content_next_slide:hover,
.bottom_inner .cmsms_content_prev_slide:hover,
.bottom_inner .cmsms_content_next_slide:hover {
	background-color:#ffffff;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, 
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
	background-color:#7b7a7a;
}


.glow_blue {background:#33bee5;}

.glow_green {background:#6cc437;}

.glow_yellow {background:#fabe09;}

.glow_red {background:#f97a14;}

.colored_title_inner.glow_blue {background-color:#33bee5;}

.colored_title_inner.glow_green {background-color:#6cc437;}

.colored_title_inner.glow_yellow {background-color:#fabe09;}

.colored_title_inner.glow_red {background-color:#f97a14;}



input#submit:hover, 
.button:hover, 
.button_small:hover, 
.button_medium:hover, 
.button_large:hover, 
.button.current, 
.button_small.current, 
.button_medium.current, 
.button_large.current,
.tog.current .cmsms_plus,
.s_cat_filter.button_small:hover, 
.s_sort a.button_small:hover, 
.s_cat_filter.button_small.current, 
.s_sort a.button_small.current, 
.cmsms_pricing_table .pricing_footer .pricing_button:hover, 
.wrap_person .cmsms_link:after, 
.comment-reply-link:hover, 
#cancel-comment-reply-link:hover,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus,
.s_filter_container:hover .s_cat_filter.button_small, 
ul li a.page-numbers:hover {
	border-color:#fe3ca9;
}

.social_toggle.current span:before {
	border-bottom-color:#fe3ca9;
}

.s_cat_filter.button_small span:before, 
.s_sort .button_small span:before {
	border-top-color:#fe3ca9;
}

.cmsms_info .cmsms_like .cmsmsLike:hover,
.cmsms_info .cmsms_like .cmsmsLike.active {
	border-color:#ca2f86;
}

.bottom_inner .cmsms_content_prev_slide,
.bottom_inner .cmsms_content_next_slide {
	border-color:#464646;
}

.icon_banner:before,
code {
	border-top-color:#ffffff;	
}

.colored_button:hover .icon_banner {
	border-color:#ffffff;	
}

.cmsms_content_prev_slide:hover:before,
.rtl .cmsms_content_next_slide:hover:before {
	border-right-color:#fe3ca9;
}
.cmsms_content_next_slide:hover:before,
.rtl .cmsms_content_prev_slide:hover:before  {
	border-left-color:#fe3ca9;
}

#slide_top:hover:before {
	border-bottom-color:#fe3ca9;
}

.project_navi a[rel="prev"]:before,
.rtl .project_navi a[rel="next"]:before {
	border-right-color:#ffffff;	
}

.project_navi a[rel="next"]:before,
.rtl .project_navi a[rel="prev"]:before,
.table thead th:first-child {
	border-left-color:#ffffff;	
}

.table thead th {
	border-top-color:#ffffff;	
}

.ls-medicure .ls-nav-start:hover:before,
.ls-medicure .ls-nav-start-active:before {
	border-left-color:#fe3ca9 !important;
}

.bottom_inner .cmsms_content_prev_slide:before {
	border-right-color:#989898;
}

.bottom_inner .cmsms_content_next_slide:before {
	border-left-color:#989898;
}

.cmsms_dynamic_cart:hover .cmsms_dynamic_cart_button, 
.cmsms_dynamic_cart_button:hover {
	background-color:#7b7a7a;
}

#page .widget_shopping_cart_content .buttons .button span {
	border-left-color:#7b7a7a;
}

#page .widget_shopping_cart_content .buttons .button:hover span {
	border-left-color:#ffffff;
}


/* ===================> Current Tab Border Colors <================== */

.tabs > li.current a,
.reviews_tab.active > a,
.related_posts ul > li > a.current {
	border-color:#ffffff;
}

.tabs > li + li.current a,
.related_posts ul > li + li > a.current {
	border-color:#ffffff;
}

.tabs > li + li + li.current a,
.related_posts ul > li + li + li > a.current {
	border-color:#ffffff;
}

.tabs > li + li + li + li .current a,
.related_posts ul > li + li + li + li > a.current {
	border-color:#ffffff;
}

.tabs > li + li + li + li + li + li .current a,
.related_posts ul > li + li + li + li + li > a.current {
	border-color:#ffffff;
}

.tabs > li + li + li + li + li + li + li.current a,
.related_posts ul > li + li + li + li + li + li > a.current {
	border-color:#ffffff;
}

.tabs > li + li + li + li + li + li + li + li.current a,
.related_posts ul > li + li + li + li + li + li + li > a.current {
	border-color:#ffffff;
}

.tabs > li + li + li + li + li + li + li + li + li.current a,
.related_posts ul > li + li + li + li + li + li + li + li > a.current {
	border-color:#ffffff;
}

.tabs > li + li + li + li + li + li + li + li + li + li.current a,
.related_posts ul > li + li + li + li + li + li + li + li + li > a.current {
	border-color:#ffffff;
}

.tabs > li + li + li + li + li + li + li + li + li + li + li.current a,
.related_posts ul > li + li + li + li + li + li + li + li + li + li > a.current {
	border-color:#ffffff;
}

.bottom_inner input[type="text"]:focus,
.bottom_inner input[type="email"]:focus,
.bottom_inner input[type="tel"]:focus,
.bottom_inner textarea:focus,
.bottom_inner select:focus {
	border-color:#ffffff;
}

.s_sort .button_small:hover span:before, 
.s_sort .button_small.current span:before {
	border-top-color:#ffffff;
}

.s_cat_filter.button_small:hover span:before, 
.s_filter_container:hover .s_cat_filter.button_small span:before, 
.s_sort .button_small.current.reversed span:before {
	border-bottom-color:#ffffff;
}

ul li .page-numbers.prev:hover:before,
.rtl ul li .page-numbers.next:hover:before {
	border-right-color:#ffffff;
}

ul li .page-numbers.next:hover:before,
.rtl ul li .page-numbers.prev:hover:before {
	border-left-color:#ffffff;
}


@media only screen and (max-width: 1024px) {

	#navigation li > a,
	#navigation li li.current_page_item > a,
	#navigation li li.current_page_ancestor > a,
	#navigation li li.current-menu-ancestor > a,
	#navigation li li:hover > a:hover,
	#navigation ul li:hover > a {
		color:#707070;
	}
	
	#navigation ul li a {
		font:18px/20px 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-weight:400;
		font-style:normal;
	}

}


/* ===================> Navigation Hover Background Colors <================== */

#navigation > li:hover > a, 
#navigation > li:hover > a:hover, 
#navigation > li.current_page_item > a, 
#navigation > li.current_page_ancestor > a, 
#navigation > li.current-menu-ancestor > a,
.related_posts ul > li > a.current,
.tabs > li.current a, 
.reviews_tab.active > a,
.tour  > li a:hover, 
.tour  > li.current a {
	background-color:#ffffff;
}

#navigation > li + li:hover > a, 
#navigation > li + li:hover > a:hover, 
#navigation > li + li.current_page_item > a, 
#navigation > li + li.current_page_ancestor > a, 
#navigation > li + li.current-menu-ancestor > a,
.related_posts ul > li + li > a.current,
.tabs > li + li.current a,
.tour  > li + li a:hover,
.tour  > li + li.current a {
	background-color:#ffffff;
}

#navigation > li + li + li:hover > a, 
#navigation > li + li + li:hover > a:hover, 
#navigation > li + li + li.current_page_item > a, 
#navigation > li + li + li.current_page_ancestor > a, 
#navigation > li + li + li.current-menu-ancestor > a,
.related_posts ul > li + li + li > a.current,
.tabs > li + li + li.current a,
.tour  > li + li + li a:hover, 
.tour  > li + li + li.current a,
.table thead th,
span.dropcap {
	background-color:#ffffff;
}

#navigation > li + li + li + li:hover > a, 
#navigation > li + li + li + li:hover > a:hover, 
#navigation > li + li + li + li.current_page_item > a, 
#navigation > li + li + li + li.current_page_ancestor > a, 
#navigation > li + li + li + li.current-menu-ancestor > a,
.related_posts ul > li + li + li + li > a.current,
.tabs > li + li + li + li.current a, 
.tour  > li + li + li + li a:hover, 
.tour  > li + li + li + li.current a {
	background-color:#ffffff;
}

#navigation > li + li + li + li + li:hover > a, 
#navigation > li + li + li + li + li:hover > a:hover, 
#navigation > li + li + li + li + li.current_page_item > a, 
#navigation > li + li + li + li + li.current_page_ancestor > a, 
#navigation > li + li + li + li + li.current-menu-ancestor > a,
.related_posts ul > li + li + li + li + li > a.current,
.tabs > li + li + li + li + li.current a,
.tour  > li + li + li + li + li a:hover, 
.tour  > li + li + li + li + li.current a {
	background-color:#ffffff;
}

#navigation > li + li + li + li + li + li:hover > a, 
#navigation > li + li + li + li + li + li:hover > a:hover, 
#navigation > li + li + li + li + li + li.current_page_item > a, 
#navigation > li + li + li + li + li + li.current_page_ancestor > a, 
#navigation > li + li + li + li + li + li.current-menu-ancestor > a,
.related_posts ul > li + li + li + li + li + li > a.current,
.tabs > li + li + li + li + li + li.current a, 
.tour  > li + li + li + li + li + li a:hover, 
.tour  > li + li + li + li + li + li.current a {
	background-color:#ffffff;
}

#navigation > li + li + li + li + li + li + li:hover > a, 
#navigation > li + li + li + li + li + li + li:hover > a:hover,
#navigation > li + li + li + li + li + li + li.current_page_item > a, 
#navigation > li + li + li + li + li + li + li.current_page_ancestor > a, 
#navigation > li + li + li + li + li + li + li.current-menu-ancestor > a,
.related_posts ul > li + li + li + li + li + li + li > a.current,
.tabs > li + li + li + li + li + li + li.current a,
.tour  > li + li + li + li + li + li + li a:hover, 
.tour  > li + li + li + li + li + li + li.current a {
	background-color:#ffffff;
}

#navigation > li + li + li + li + li + li + li + li:hover > a, 
#navigation > li + li + li + li + li + li + li + li:hover > a:hover, 
#navigation > li + li + li + li + li + li + li + li.current_page_item > a, 
#navigation > li + li + li + li + li + li + li + li.current_page_ancestor > a, 
#navigation > li + li + li + li + li + li + li + li.current-menu-ancestor > a,
.related_posts ul > li + li + li + li + li + li + li + li > a.current,
.tabs > li + li + li + li + li + li + li + li.current a, 
.tour  > li + li + li + li + li + li + li + li a:hover, 
.tour  > li + li + li + li + li + li + li + li.current a {
	background-color:#ffffff;
}

#navigation > li + li + li + li + li + li + li + li + li:hover > a, 
#navigation > li + li + li + li + li + li + li + li + li:hover > a:hover, 
#navigation > li + li + li + li + li + li + li + li + li.current_page_item > a, 
#navigation > li + li + li + li + li + li + li + li + li.current_page_ancestor > a, 
#navigation > li + li + li + li + li + li + li + li + li.current-menu-ancestor > a,
.related_posts ul > li + li + li + li + li + li + li + li + li > a.current,
.tabs > li + li + li + li + li + li + li + li + li.current a, 
.tour  > li + li + li + li + li + li + li + li + li a:hover, 
.tour  > li + li + li + li + li + li + li + li + li.current a {
	background-color:#ffffff;
}

#navigation > li + li + li + li + li + li + li + li + li + li:hover > a, 
#navigation > li + li + li + li + li + li + li + li + li + li:hover > a:hover, 
#navigation > li + li + li + li + li + li + li + li + li + li.current_page_item > a, 
#navigation > li + li + li + li + li + li + li + li + li + li.current_page_ancestor > a, 
#navigation > li + li + li + li + li + li + li + li + li + li.current-menu-ancestor > a,
.related_posts ul > li + li + li + li + li + li + li + li + li + li > a.current,
.tabs > li + li + li + li + li + li + li + li + li + li.current a, 
.tour  > li + li + li + li + li + li + li + li + li + li a:hover, 
.tour  > li + li + li + li + li + li + li + li + li + li.current a {
	background-color:#ffffff;
}


/* =================> Social Icons Background Colors <================ */

#header .social_icons li:nth-child(1):hover,#middle .social_icons li:nth-child(1):hover, #footer .social_icons li:nth-child(1):hover {border-color:#2ca6d9;}
#header .social_icons li:nth-child(2):hover,#middle .social_icons li:nth-child(2):hover, #footer .social_icons li:nth-child(2):hover {border-color:#fb7200;}
#header .social_icons li:nth-child(3):hover,#middle .social_icons li:nth-child(3):hover, #footer .social_icons li:nth-child(3):hover {border-color:#1b90da;}
